<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}

    <div class="container" style="margin-top: 50px; margin-bottom: 100px">
        <style>
            @import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
            h2.description {
                font-family: 'Raleway', sans-serif;
            }
        </style>
        <div align="center">
            <h2 style="font-family: 'Raleway', sans-serif">{{ analysis }}</h2>
        </div>
    </div>
    <div class="container" style="margin-bottom: 100px">
        <div class="row">
            <div class="col-md-12">
                <div class="plots-{{graph[0][1]}}" >
                    {{graph[0][0] | safe}}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
